btn {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
  }
  
    .titulo {
      text-align: left ;
      color: #352727;
      font-size: 50px;
      font-weight: bold;
      
    }
 

  body {
    align-items: left;
    justify-content: left;
    height: 100vh;
    background-color:antiquewhite;
  }
  
  .buscar {
    align-items: left;
    position: relative;
    padding: 5px;
  }
  
  .buscar input {
   text-align: left;
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 3px solid rgb(32, 31, 31);
    border-radius: 30px;
    transition: all 0.6s ease;
  }
  
  .btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position:absolute;
    background: #7d7a80;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    align-items: left;
   
  }
  
  .buscar:hover input {
    width: 500px;
  }
  
  .buscar input:focus {
    width: 500px;
  }
  